In [1]:
from mdss.ScoringFunctions.Bernoulli import Bernoulli
from mdss.ScoringFunctions.Poisson import Poisson
from mdss.MDSS import MDSS
import seaborn as sns

import numpy as np
import pandas as pd
from pandas.api.types import is_numeric_dtype

import warnings

In [12]:
data = pd.read_csv('/Users/kayadetunji/Downloads/HAALSI_work/mdscan-master/project2_data_26_02_24_autostrat.csv').drop(columns = ['study_id']).fillna(-999)

target_cols = ['diabetes_status_c_phase1']
data.head()

,age_phase1,site,sex,highest_level_of_education_phase1,partnership_status_c_phase1,ses_site_quintile_c_phase1,occupation_phase1,alcohol_use_status_c_phase1,smoking_status_c_phase1,diabetes_history_phase1,...,change_in_triglycerides,change_in_glucose,change_in_s_creatinine,change_in_insulin,change_in_non_hdl,change_in_egfr,change_in_acr,change_in_mvpa,MAP_phase1,MAP_phase2
0,80.0,1,1,0,1,1,-999,3,2,0,...,-999.00,-999.00,-999.00,-999.0,-999.00,-999.000000,-999.0,-999.0,107.166667,-999.000000
1,73.0,1,1,0,1,4,4,3,0,0,...,-0.22,6.91,12.65,44.4,0.21,-13.659833,-999.0,360.0,94.666667,113.333333
2,80.0,1,1,0,2,2,4,0,0,0,...,-999.00,-999.00,-999.00,-999.0,-999.00,-999.000000,-999.0,-999.0,83.833333,-999.000000
3,79.0,1,0,0,1,2,3,0,0,1,...,-999.00,-999.00,-999.00,-999.0,-999.00,-999.000000,-999.0,-999.0,85.500000,-999.000000
4,73.0,1,0,0,2,3,3,0,0,0,...,-999.00,-999.00,-999.00,-999.0,-999.00,-999.000000,-999.0,-999.0,93.833333,-999.000000

In [13]:
site_id = 1 # 1 - Agincourt, 3 - Nairobi

# Choose the relevant site and age group
dff = data[(data['site'] == site_id)].fillna(-999)
# dff = dff2[(dff2['site'] == site_id)& (dff2['age_phase1'] <= 60) & (dff2['age_phase1'] >= 40)].fillna(-999)

print('Original size: ', dff.shape)
dff = dff[(dff[target_cols] != -999).sum(axis = 1) == len(target_cols)].copy()
print('Size after removing records with missing targets: ', dff.shape)

Original size:  (2486, 72)
Size after removing records with missing targets:  (2486, 72)

In [23]:
dff[dff['egfr_c_phase1'] < 20.0].s_creatinine_phase1.value_counts()

-999.00     174
 1215.29      1
 684.96       1
 370.82       1
 403.69       1
 863.29       1
 506.68       1
 443.40       1
Name: s_creatinine_phase1, dtype: int64